body {
    font-family: Arial;
    position: relative;
}

.container {
    max-width:700px;
    background-color:#f2f2f2;
    border-radius:10px;
    padding:20px;
    margin-top:10px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row{
    width:100%;
    display:table;
    padding:5px;
}

input[type=text], input[type=number]{
    padding:12px;
    border:1px solid #cccccc;
    border-radius:4px;
    box-sizing:border-box;
    float:left;
    width:75%;
    font:bold 18px;
}

input[type=text]:read-only{
    background:none;
    font-weight:bold;
    color: rgb(98, 53, 166);
}

input[type=button]{
    background-color: #4CAF50;
    color: #ffffff;
    padding:15px;
    border:none;
    border-radius:4px;
    float:right;
    margin-top:10px;
    cursor:pointer;
}

label{
    padding:12px;
    float:left;
    width:20%;
    font:14px;
}

#dvResultados{
    text-align: center;
    display:none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: x-large;
    text-align: center;
    font-family: Verdana
}